body{
    font-family: Times New Roman, sans-serif;
    margin: 3em;
    background-color:floralwhite;
    /*background-color: lightgrey;*/
    /*background-image: url('back_1.jpg');
    background-size: cover;*/
    font-size: 1em;
    padding: 1em;

}

@media (max-width: 1100px){
    font-size: 2em;

}
h1{
    text-align: center;
    background-color: rgba(217, 216, 215, 0.20);
    border-radius: 0.5em;
}
h2{
    background-color: rgba(217, 216, 215, 0.18);
    border-radius: 0.5em;
    background-size: flex;
    padding-left: 0.5em;
}
#ava{
    position:absolute;
    left:80%;
    width: 10em;
    border-radius: 3em;
    float: left;
    transition: transform 0.7s ease;


}
#ava:hover {
    transform: scale(1.5);
}
#table1{
    border: none;
    width: 40%;
    line-height: 1.5;
}
.td_right{
    text-align: left;
}
.td_left{
    text-align: left;
    font-style: italic;
    font-weight: bold;
    width: 15em;
    font-size: 16px;
}
#table2{
    border-width: 70%;
    border: none;
    line-height: 1.5;

}
span{
    font-weight: bold;
}
#table3{
    line-height: 1.5;
}
#lang_block {
    line-height: 1.5;
}
#table5{
    margin-top: 2em;
    line-height: 1.5;
}
#select{
    border: none;

}
#table6{
    margin-top: 2em;
    line-height: 1.5;
}
#diplom{
   margin: 3em 1em 2em 2em;

}
#diplom img{
    position: relative;
    left: 10%;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.2);
}
#html{
    width: 25%;
    /*border-radius: 3em;*/
    transition: transform 0.7s ease;
}
#html:hover{
    transform-origin: left bottom;
    transform: scale(2);
    z-index: 1;
}
#css{
    width: 25%;
    margin-left: 3em;
    margin-right: 3em;
    /*border-radius: 3em;*/
    transition: transform 0.7s ease;
}
#css:hover{
    transform-origin: bottom;
    transform: scale(2);
    z-index: 1;
}
#python{
    width: 25%;
    /*margin-left: 1em;
    margin-right: 1em;*/
    /*border-radius: 3em;*/
    transition: transform 0.7s ease;
}
#python:hover{
    transform-origin: right bottom;
    transform: scale(2);
    z-index: 1;
}
#diplom_2{
    margin: 3em 1em 2em 2em;
    display: flex;
    justify-content: center;
}
#diplom_2 img{
    position: relative;
    /*left: 3%;*/
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.2);
    /*justify-content: center;*/
    margin-left: 4em;
}
#seo{
    width: 25%;
    align-content: center;
    transition: transform 0.7s ease;
}
#seo:hover {
    transform-origin: bottom;
    transform: scale(2);
    z-index: 1;
}
#mini{
    width: 25%;
    align-content: center;
    transition: transform 0.7s ease;
}
#mini:hover{
    transform-origin: bottom;
    transform: scale(2);
    z-index: 1;
    }
#linked{
    margin-top: 4em;
    /*font-family: Helvetica Neue;
    background-color:
    rgb(10,102,194);
    border-radius: 0.10em;
    color: white;
    font-size: 2em;
    font-weight: 800;
    text-decoration: none;*/

}
#in{
    position: absolute;
    /*right: 50%;*/
    width: 1.5em;
    margin-bottom: 2em;
    /*transition: transform 0.7s fast;*/

}
#in:hover{
/*transform:rotate(15deg);*/animation-name:rotateAnimation;
animation-duration: 0.7s;
animation-iteration-count:infinite;


}
@keyframes rotateAnimation {
    0% { transform: rotate(0deg); }
    33% { transform: rotate(15deg); }
    66% { transform: rotate(0deg); }
    100% { transform: rotate(-15deg); }
}
#fiverr{
   margin-top: 4em;
}
#fi{
   position: absolute;
    width: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;

}
#fi:hover {
    animation-name:rotateAnimation;
animation-duration: 0.7s;
animation-iteration-count:infinite;
}
#skype {
    margin-top: 4em;
}
#sk {
   position: absolute;
    /*right: 85%;*/
    margin-left: 4em;
    height: 1.5em;
    margin-bottom: 2em;
}
#sk:hover {
  animation-name:rotateAnimation;
animation-duration: 0.7s;
animation-iteration-count:infinite;
}
#gmail {
    margin-top: 4em;
}
#mail {
    position: absolute;
    /*right: 85%;*/
    margin-left: 6em;
    height: 1.5em;
    margin-bottom: 2em;
}
#mail:hover {
 animation-name:rotateAnimation;
animation-duration: 0.7s;
animation-iteration-count:infinite;
}
/*.lang{
    border-bottom: 0.1em solid #d9d8d7;
    padding-bottom: 1em;

}
footer{
    border-top: 0.1em solid #d9d8d7;
    padding-top: 1em;
}*/
footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
a{
    text-decoration: none;
}
